@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

$dark-blue: #056690;
$light-blue: #056690;
$white-blue: #e8fffe;
$light-grey: #cccccc;
$dark-grey: #555;
$button: #08a0e2;
$button-hover: #0787bf;

$font-header: 'Playfair Display', serif;
$font-main: 'Lato', sans-serif;

body {
    font-family: $font-main;
    font-size: 150%;
    line-height: 190%;
}


.center-align {
    text-align: center;
}
.right-align {
    text-align: right;
}

@mixin parallax() {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-wrapper {
    background-color: $dark-blue;

    .navbar {
        background: none;
        border: 0;
        .navbar-nav {
            display: inline-block;
            float: none;
            a {
                color: white;
                font-weight: bold;
                font-size: 120%;
                padding: 15px 20px;
            }
            a:hover {
                color: #ccc;
            }
        }
        .navbar-collapse {
            text-align: center;
            border: none;
        }
    }
    #banner {
        color: white;
        text-align: center;
        margin-bottom: 50px;
        h2 {
            text-align: center;
            border-style: double solid;
            border-width: 4px 1px;
            font-size: 300%;
            line-height: 1.35em;
            margin: 0 auto 1em;
            padding: 1.1em;
            position: relative;
            font-weight: bold;
            text-transform: uppercase;
            width: auto;
            display: inline-block;
            font-family: $font-header;
            text-shadow: 2px 2px 30px #222;
        }
        a {
            padding: 20px 50px;
            background-color: $button;
            border-radius: 5px;
            color: white;
            text-decoration: none;
            font-weight: bold;
            font-size: 150%;
        }
        a:hover {
            background-color: $button-hover;
        }
    }
}
.features {
    .col-md-4 {
        padding: 0px;
        margin: 0px;
    }
}
.greyback {
    background-color: #eaeaea;
    h3 {
        font-size: 180%;
        padding-bottom: 5px;
        margin-bottom: 10px;
    }
}
.textbar {
    .major {
        display: block;
        text-align: center;
        padding-bottom: 0.4em;
        border-bottom-color: #e3e3e3;
        border-bottom-style: double;
        border-bottom-width: 4px;
        margin: 0px auto 50px;
        max-width: 70%;
        color: #888;
        font-weight: normal;
    }
    .feature {
        border: 1px solid #ccc;
        margin: 0px;
        padding: 30px 50px;
        text-align: center;
        i {
            font-size: 100px;
            color: $dark-blue;
            margin-bottom: 10px;
        }
        p {
            text-align: center;
            color: #888;
            min-height: 90px;
        }
        p.pricing {
            min-height: 180px;
        }
        h3 {
            color: #888;
            font-family: $font-header;
        }
        .fa {
            font-size: 300%;
        }
    }
    .full {
        p {
            text-align: justify;
        }
        img {
            height: 350px;
            margin-top: -140px;
            margin-bottom: -100px;
            margin-left: 40px;
            float: right;
        }
    }
    padding: 50px 0;
}
.contact {
    text-align: center;
    background-color: $dark-blue;
    padding: 40px 0;

    label {
        text-align: center;
        width: 100%;
        font-size: 140%;
        color: #eee;
        font-family: $font-main;
        font-weight: normal;
    }
    h3 {
        color: white;
        padding-bottom: 0.4em;
        border-bottom-color: #fff;
        border-bottom-style: double;
        border-bottom-width: 4px;
    }
    .submit {
        padding: 10px 50px;
        background-color: $button;
        border-radius: 5px;
        color: white;
        text-decoration: none;
        font-size: 140%;
        border: 0px;
    }
    .submit:hover {
        background-color: $button-hover;
    }
}
.footer {
    background-color: #eaeaea;
    color: $dark-grey;
    text-align: center;
    padding: 40px 0;

    .align-left {
        line-height: 200%;
    }

    i {
        font-size: 200%;
        color: $dark-grey;
    }
}
.benefits {
  margin: 0px;
  padding: 0px;
  li {
    margin: 0px;
    list-style-type: none;
    padding: 0px;
  }
}